/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a { text-decoration:none }
img { border:none }

/** end of css reset **/

body { background:#fafafa; color:black; padding:20px }
#header, #container { width:1000px; margin:auto }
#outer_header { padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #3D3535 }
#tagline { float:left; padding-left:20px; border-left:1px solid #999; font-size:20px; color:#333; height:40px; padding-top:20px; }
#header h3 { font-weight:bold; font-size:55px; float:left; margin-right:20px; }
#header h3 a { color:#8F8678 }

#singleSong { margin-top:20px; width:600px; }
#singleSong .songTitle_big { font-size:30px; color:black }
#singleSong .songLyricist, #singleSong .songComposer { font-size:14px; width:240px; }
.songLyricist { float:left }
.songComposer { float:right; text-align:right; }
#singleSong .songPeople { margin:10px 0px; font-weight:bold; }
#singleSong .songTech { font-size:12px }
#singleSong .songLyric { margin-top:10px; padding-top:10px; border-top:1px solid #ccc }
#singleSong .songLine, #singleSong .songReff { line-height:20px }
#singleSong .songLine { margin-bottom:15px; }
#singleSong .songReff { font-weight:bold; padding-left:40px; }
#singleSong .songNumber, #singleSong .songContent { float:left; }
#singleSong .songNumber { font-size:25px; font-weight:bold; margin-right:10px; }
#singleSong .songContent { padding-left:10px; border-left:1px solid #ddd }
#singleSong .lyricWrapper { margin-bottom:30px; padding-bottom:15px; border-bottom:1px solid #ccc}
#singleSong .songReff .songNumber { font-size:13px; margin-right:0; text-decoration:underline; }
#singleSong .songReff .songContent { border-left:none; padding-left:5px }

#searchResultsWrapper { margin-top:20px; width:400px; }
#searchResultsWrapper .details { display:none; border-bottom:1px solid #ccc; }
#searchResultsWrapper .songNumber { font-size:14px; color:#118481; font-weight:bold; }
#searchResultsWrapper .searchResultWrapper { margin-bottom:15px }
#searchResultsWrapper .songTitle { margin-bottom:3px; }
#searchResultsWrapper .songTitle a { font-size:16px; text-decoration:underline; }
#searchResultsWrapper .songTitle a.detailLink { font-weight:normal; color:#2468ac; font-size:12px }
#searchResultsWrapper .songPeople { font-size:12px; font-weight:bold; margin-bottom:5px; }
#searchResultsWrapper .songLyricist, #searchResultsWrapper .songComposer { width:200px } 
#searchResultsWrapper .songContent { font-size:14px; line-height:15px; }
#searchResultsWrapper .songTech { font-size:11px; font-weight:bold; margin-bottom:5px }
#searchResultsWrapper label { width:70px; float:left; display:block; height:15px; font-weight:normal; }

#searchForm, #songNumberInput { display:inline; margin-left:15px; padding:5px 5px 5px 15px; border-left:1px solid black; }
#songJumper { font-size:12px }
#songNumberInput input { width:25px }
select, input { font-size:12px }
span.h { font-weight:bold; color:#f60 }
#offlineSwitcher { font-size:10px }

@media screen and (max-width:480px) {
	body { padding:10px }
	#header, #tagline, #singleSong, #songSelect, #outer_header, #container { width:300px }
	#singleSong { margin-top:10px }
	#singleSong .songLyricist, #singleSong .songComposer { float:none; width:auto; text-align:left; font-size:12px; }
	#singleSong .songTitle_big { font-size:20px }
	#header h3 { width:300px; font-size:24px; margin:0; margin-bottom:5px; }
	#singleSong .songNumber { width:5px; font-size:15px; margin-right:14px; }
	#singleSong .songContent { width:240px }
	#tagline { float:none; border:none; font-size:10px; text-align:left; padding:0; margin:0;}
	#singleSong .songReff  { padding-left:20px }
	#singleSong .songReff .songNumber { width:20px }
	#outer_header { margin-bottom:10px; padding-bottom:10px }
	#songJumper > form { margin-left:0; padding:0; border-left:none; display:block; }
	#qText { width:150px; }
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
